@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.body {
    background-color: #fff;
}

.header {
    height: 30vh;
    background: linear-gradient(to bottom left, #ffa500, #a500ff);
    display: flex;
    align-items: center;


    &__content {
        text-align: center;
        color: #fff;
    }

    &__content a {
        text-decoration: none;
        color: #fff;
        font-weight: bolder;
    }
}

.menu {
    overflow: hidden;
    background-color: #333;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1;

    &__content a {
        color: white;
    }

    &__content-left a {
        float: left;
        display: block;
        text-align: center;
        padding: 14px 20px;
        text-decoration: none;
    }
    &__navbar-position {
        padding: 0
    }

    &__content-right {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    &__content-left a:hover {
        background-color: #ddd;
        color: black;
    }

    &__content-left a.active {
        background-color: #666;
        color: white;
    }
}


.home_slider {
    margin-top: 30px;

    &__block {
        height: 350px;
    }

    &__indicators {
        height: 10%;
        align-content: end;
    }

    &__indicators li {
        background-color: #000;
        height: 4px;
        width: 45px;
    }

    &__content {
        height: 88%;
    }

    &__content-item {
        height: 100%;
    }

    &__arrow {
        align-content: center;
    }

    &__arrow i {
        background: rgba(0,0,0,0.2);
        z-index: 100;
        border-radius: 50%;
        padding: 10px 13px;
        cursor: pointer;
    }
}


.catalog {

    &__content-title {
        text-align: center;
    }

    &__content {
    }
}


.footer {
    background-color: #000;
    color: #fff;
    height: 8vh;

    .row {
        height: 100%;
    }

    &__content {
        height: 100%;
    }

    &__content-left {
        display: flex;
        align-items: center;
        justify-content: start;
    }

    &__content-right {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        i {
            margin-left: 6px;
        }
    }
}
